.navbar {
    background: rgba(225, 225, 225, 0);
}

.blue-and-refreshing {
    background: #AAABB8;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #25274D, #29648A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #25274D, #29648A);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jumbotron {
    padding-top: 2rem;
    background-color: #464866;
}

#projects {
    background-color: #464866;
}

section {
    padding-top: 5rem;
}

footer {
    background-color: #25274D;
}